{
  "openapi": "3.1.0",
  "info": {
    "title": "Fundo de Garantia de Operações",
    "description": "Permite ao agente financeiro realizar pré-validações de operações garantidas pelo FGO, com ou sem reserva.\nPermite ao agente financeiro cancelar pré-validações de operações garantidas pelo FGO.",
    "contact": {
      "name": "Banco do Brasil S.A. - Portal Developers",
      "url": "https://developers.bb.com.br"
    },
    "version": "2.0.1"
  },
  "servers": [
    {
      "url": "https://fgo.mtls.api.hm.bb.com.br/v2",
      "description": "Gateway mTLS - homologacao"
    },
    {
      "url": "https://fgo.mtls.api.bb.com.br/v2",
      "description": "Gateway mTLS - Produção"
    }
  ],
  "paths": {
    "/reservas/cancelamentos": {
      "put": {
        "summary": "Cancelar reserva junto ao FGO",
        "description": "Permite CANCELAR Reserva de Pré-validação junto ao Fundo Garantidor de Operações. CANCELA uma reserva de pré-validação efetuada junto ao fundo garantidor de operações. Retorno indica se o cancelamento ocorreu com sucesso ou o motivo da sua rejeição, quando for o caso.",
        "operationId": "18004094",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Codigo Agente Financeiro": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código do Agente Financeiro, atribuído pelo Administrador.\nIdentifica o agente financeiro contratante da operação de crédito (não é o código do banco no BACEN).",
                    "examples": [
                      "123"
                    ]
                  },
                  "Codigo Fundo Garantidor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica o código do fundo garantidor da operação de crédito.",
                    "examples": [
                      "1"
                    ]
                  },
                  "Numero Reserva Pre Validacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica o número da reserva da pré-validação registrada no GFG, a ser cancelada.",
                    "examples": [
                      "123"
                    ]
                  }
                },
                "required": [
                  "Codigo Agente Financeiro",
                  "Codigo Fundo Garantidor",
                  "Numero Reserva Pre Validacao"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Erro Negocial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          },
          "500": {
            "description": "Erro Sistema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          },
          {
            "OAuth2_desenvolvimento": [
              "fgo.requisicao"
            ]
          },
          {
            "mutualTLS": [
              "fgo.requisicao"
            ]
          },
          {
            "OAuth2_homologacao": [
              "fgo.requisicao"
            ]
          },
          {
            "OAuth2_producao": [
              "fgo.requisicao"
            ]
          }
        ]
      }
    },
    "/pre-validacoes": {
      "post": {
        "summary": "Pré-validar sem reserva",
        "description": "Permite pré-Validar FORMALIZAÇÃO de Crédito SEM Reserva junto ao Fundo Garantidor de Operações. Pré-valida os dados de uma operação de crédito que se pretende FORMALIZAR com garantia de fundo garantidor. NÃO GRAVA RESERVA junto ao fundo garantidor.",
        "operationId": "18004092",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codigoAgenteFinanceiro": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código do Agente Financeiro, atribuído pelo Administrador.\n\nIdentifica o agente financeiro contratante da operação de crédito (não é o código do banco no BACEN).\nAgente ou Agente Financeiro: instituição financeira habilitada pelo Administrador para cumprir o papel de Agente Financeiro do FGO, contratando operações de crédito com garantia do Fundo.\n\nExemplo: \"1\"",
                    "examples": [
                      "2"
                    ]
                  },
                  "codigoIdentificadorExternoOperacao": {
                    "type": "string",
                    "description": "Código que identifica a operação de crédito no âmbito do Agente.\n\nExemplo: \"ABC1234\"",
                    "maxLength": 20,
                    "examples": [
                      "ABC1234"
                    ]
                  },
                  "codigoFundoGarantidor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica o fundo garantidor da operação de crédito.",
                    "examples": [
                      "2"
                    ]
                  },
                  "numeroAgenciaContratanteOperacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Número que identifica a agência  contratante da operação.",
                    "examples": [
                      "1"
                    ]
                  },
                  "codigoIbgeMunicipio": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código IBGE do município onde se localiza o empreendimento financiado (sem DV). Para o Desenrola, informar o Código IBGE do município do endereço principal do contratante",
                    "examples": [
                      "354340"
                    ]
                  },
                  "codigoTipoPessoa": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código do tipo de pessoa do mutuário, identifica pessoa física ou jurídica.\n\n1 Pessoa física \n2 Pessoa jurídica",
                    "examples": [
                      "1"
                    ]
                  },
                  "codigoIdentificadorSrf": {
                    "type": "string",
                    "description": "CPF ou CNPJ do mutuário, cadastro de pessoa física ou jurídica no Sistema da Receita Federal.",
                    "maxLength": 14,
                    "examples": [
                      "191"
                    ]
                  },
                  "codigoTipoPublicoAlvo": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código do público alvo no qual o mutuário se enquadra, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "2"
                    ]
                  },
                  "valorFaturamentoBrutoAnual": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor do faturamento bruto anual do mutuário pessoa jurídica, na data da formalização, ou da renda da pessoa física. Preencher conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "30000"
                    ]
                  },
                  "valorOperacaoCredito": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor da operação de crédito. Informar sem os custos adicionais, como encargos, taxas, tarifas, impostos, tributos, prêmios de seguro, acessórios e outras despesas inerentes à contratação do crédito.",
                    "examples": [
                      "50000"
                    ]
                  },
                  "percentualGarantiaOperacaoCredito": {
                    "type": "number",
                    "format": "float",
                    "description": "Percentual da garantia FGO com duas casas decimais. 80.05 = 80,05",
                    "examples": [
                      "80.05"
                    ]
                  },
                  "codigoTipoModalidadeCredito": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica a modalidade do crédito concedido ao mutuário, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "1"
                    ]
                  },
                  "codigoTipoFinalidadeCredito": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica a finalidade do crédito concedido ao mutuário, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "1"
                    ]
                  },
                  "codigoTipoFonteRecurso": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código da fonte de recursos do financiamento, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "11"
                    ]
                  },
                  "codigoTipoProgramaCredito": {
                    "type": "integer",
                    "format": "int32",
                    "description": "  Identifica o programa de crédito em que o financiamento está enquadrado, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "39"
                    ]
                  },
                  "dataFormalizacaoOperacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica a data da formalização da operação, no formato AAAAMMDD.",
                    "examples": [
                      "20250101"
                    ]
                  },
                  "dataVencimentoOperacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica a data de vencimento da operação, no formato AAAAMMDD.",
                    "examples": [
                      "20250201"
                    ]
                  },
                  "codigoTipoCronogramaAmortizacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "  Identifica o tipo de cronograma de amortizações da operação, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "1"
                    ]
                  },
                  "codigoTipoCondicaoEspecial": {
                    "type": "integer",
                    "format": "int32",
                    "description": "  Identifica o tipo de condição especial da operação, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "1"
                    ]
                  },
                  "dataDespachoExternoOperacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Informar valor numérico zero.",
                    "examples": [
                      "0"
                    ]
                  },
                  "codigoTipoFormalizacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código para indicar o tipo de formalização da operação.\n\n1 Ordinária",
                    "examples": [
                      "1"
                    ]
                  },
                  "valorSubsidioCredito": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor do subsídio/subvenção da operação de crédito. Deve ser preenchido conforme as regras definidas no Manual de Procedimentos Operacionais do programa.",
                    "examples": [
                      "50000"
                    ]
                  },
                  "numeroCpfQualificadorOperacao": {
                    "type": "integer",
                    "format": "int64",
                    "description": "CPF qualificador das características da operação de crédito quanto ao gênero do mutuário, inscrição no CADÚnico e outras informações cadastrais. Obrigatório em alguns casos, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "12345678911"
                    ]
                  },
                  "valorCondicaoEspecial": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor da Condição Especial de acordo com o Código Tipo Condição Especial da Operação, conforme definido no Manual de Procedimentos Operacionais no programa."
                  }
                },
                "required": [
                  "codigoAgenteFinanceiro",
                  "codigoIdentificadorExternoOperacao",
                  "codigoFundoGarantidor",
                  "numeroAgenciaContratanteOperacao",
                  "codigoIbgeMunicipio",
                  "codigoTipoPessoa",
                  "codigoIdentificadorSrf",
                  "codigoTipoPublicoAlvo",
                  "valorFaturamentoBrutoAnual",
                  "valorOperacaoCredito",
                  "percentualGarantiaOperacaoCredito",
                  "codigoTipoModalidadeCredito",
                  "codigoTipoFinalidadeCredito",
                  "codigoTipoFonteRecurso",
                  "codigoTipoProgramaCredito",
                  "dataFormalizacaoOperacao",
                  "dataVencimentoOperacao",
                  "codigoTipoCronogramaAmortizacao",
                  "codigoTipoCondicaoEspecial",
                  "dataDespachoExternoOperacao",
                  "codigoTipoFormalizacao",
                  "valorSubsidioCredito",
                  "numeroCpfQualificadorOperacao"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valorTotalFinanciado": {
                      "type": "number",
                      "format": "float",
                      "description": "Retorna o valor total já financiado/garantido/comprometido do mutuário com garantia do Fundo Garantidor, não computando a operação que está sendo pré-validada.",
                      "examples": [
                        "987451.75"
                      ]
                    },
                    "valorMargemDisponivelContratacao": {
                      "type": "number",
                      "format": "float",
                      "description": "Valor Margem Disponivel Contratacao",
                      "examples": [
                        "987451.75"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro Negocial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          },
          "500": {
            "description": "Erro Sistema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          },
          {
            "OAuth2_desenvolvimento": [
              "fgo.requisicao"
            ]
          },
          {
            "mutualTLS": [
              "fgo.requisicao"
            ]
          },
          {
            "OAuth2_homologacao": [
              "fgo.requisicao"
            ]
          },
          {
            "OAuth2_producao": [
              "fgo.requisicao"
            ]
          }
        ]
      }
    },
    "/pre-validacoes/reservas": {
      "post": {
        "summary": "Pré-validar com reserva",
        "description": "Permite pré-Validar FORMALIZAÇÃO de Crédito COM Reserva junto ao Fundo Garantidor de Operações Pré-valida os dados de uma operação de crédito que se pretende FORMALIZAR com garantia de fundo garantidor. Se a pré-validação for aceita, RETORNA O NÚMERO DA RESERVA gravada junta ao fundo garantidor.",
        "operationId": "18004093",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codigoAgenteFinanceiro": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código do Agente Financeiro, atribuído pelo Administrador.\\n\\nIdentifica o agente financeiro contratante da operação de crédito (não é o código do banco no BACEN).\\nAgente ou Agente Financeiro: instituição financeira habilitada pelo Administrador para cumprir o papel de Agente Financeiro do FGO, contratando operações de crédito com garantia do Fundo.",
                    "examples": [
                      "2"
                    ]
                  },
                  "codigoIdentificadorExternoOperacao": {
                    "type": "string",
                    "description": "Código que identifica a operação de crédito no âmbito do Agente.",
                    "maxLength": 20,
                    "examples": [
                      "ABC1234"
                    ]
                  },
                  "codigoFundoGarantidor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica o fundo garantidor da operação de crédito.",
                    "examples": [
                      "2"
                    ]
                  },
                  "numeroAgenciaContratanteOperacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Número que identifica a agência  contratante da operação.",
                    "examples": [
                      "1"
                    ]
                  },
                  "codigoIbgeMunicipio": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código IBGE do município onde se localiza o empreendimento financiado (sem DV).",
                    "examples": [
                      "354340"
                    ]
                  },
                  "codigoTipoPessoa": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código do tipo de pessoa do mutuário, identifica pessoa física ou jurídica.\n\n1 Pessoa física \n2 Pessoa jurídica",
                    "examples": [
                      "2"
                    ]
                  },
                  "codigoIdentificadorSrf": {
                    "type": "string",
                    "description": "CPF ou CNPJ do mutuário, cadastro de pessoa física ou jurídica no Sistema da Receita Federal. Deve-se preencher as 14 posições do campo com zeros a esquerda.",
                    "maxLength": 14,
                    "examples": [
                      "123ABC"
                    ]
                  },
                  "codigoTipoPublicoAlvo": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código do público alvo no qual o mutuário se enquadra.",
                    "examples": [
                      "1"
                    ]
                  },
                  "valorFaturamentoBrutoAnual": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor do faturamento bruto anual do mutuário pessoa jurídica na data da formalização, ou da renda da pessoa física. Preencher conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "30000"
                    ]
                  },
                  "valorOperacaoCredito": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor da operação de crédito. Informar sem os custos adicionais, como encargos, taxas, tarifas, impostos, tributos, prêmios de seguro, acessórios e outras despesas inerentes à contratação do crédito.",
                    "examples": [
                      "50000"
                    ]
                  },
                  "percentualGarantiaOperacaoCredito": {
                    "type": "number",
                    "format": "float",
                    "description": "Percentual da garantia FGO com duas casas decimais.\nEx: 80.05 = 80,05",
                    "examples": [
                      "80.05"
                    ]
                  },
                  "codigoTipoModalidadeCredito": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica a modalidade do crédito concedido ao mutuário, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "1"
                    ]
                  },
                  "codigoTipoFinalidadeCredito": {
                    "type": "integer",
                    "format": "int32",
                    "description": "  Identifica a finalidade do crédito concedido ao mutuário, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "1"
                    ]
                  },
                  "codigoTipoFonteRecurso": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código da fonte de recursos do financiamento, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "11"
                    ]
                  },
                  "codigoTipoProgramaCredito": {
                    "type": "integer",
                    "format": "int32",
                    "description": "  Identifica o programa de crédito em que o financiamento está enquadrado, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "39"
                    ]
                  },
                  "dataFormalizacaoOperacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica a data da formalização da operação, no formato AAAAMMDD.",
                    "examples": [
                      "20250101"
                    ]
                  },
                  "dataVencimentoOperacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identifica a data de vencimento da operação, no formato AAAAMMDD.",
                    "examples": [
                      "20250201"
                    ]
                  },
                  "codigoTipoCronogramaAmortizacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "  Identifica o tipo de cronograma de amortizações da operação, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "1"
                    ]
                  },
                  "codigoTipoCondicaoEspecial": {
                    "type": "integer",
                    "format": "int32",
                    "description": "  Identifica o tipo de condição especial da operação, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "1"
                    ]
                  },
                  "dataDespachoExternoOperacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Informar valor numérico zero.",
                    "examples": [
                      "20250115"
                    ]
                  },
                  "codigoTipoFormalizacao": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Código que indica o tipo de formalização da operação.",
                    "examples": [
                      "1"
                    ]
                  },
                  "valorSubsidioCredito": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor do subsídio/subvenção da operação de crédito. Deve ser preenchido conforme as regras definidas no Manual de Procedimentos Operacionais do programa.",
                    "examples": [
                      "50000"
                    ]
                  },
                  "numeroCpfQualificadorOperacao": {
                    "type": "integer",
                    "format": "int64",
                    "description": "CPF qualificador das características da operação de crédito quanto ao gênero do mutuário, inscrição no CADÚnico e outras informações cadastrais. Obrigatório em alguns casos, conforme definido no Manual de Procedimentos Operacionais no programa.",
                    "examples": [
                      "12345678911"
                    ]
                  },
                  "valorCondicaoEspecial": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor da Condição Especial de acordo com o Código Tipo Condição Especial da Operação, conforme definido no Manual de Procedimentos Operacionais no programa."
                  }
                },
                "required": [
                  "codigoAgenteFinanceiro",
                  "codigoIdentificadorExternoOperacao",
                  "codigoFundoGarantidor",
                  "numeroAgenciaContratanteOperacao",
                  "codigoIbgeMunicipio",
                  "codigoTipoPessoa",
                  "codigoIdentificadorSrf",
                  "codigoTipoPublicoAlvo",
                  "valorFaturamentoBrutoAnual",
                  "valorOperacaoCredito",
                  "percentualGarantiaOperacaoCredito",
                  "codigoTipoModalidadeCredito",
                  "codigoTipoFinalidadeCredito",
                  "codigoTipoFonteRecurso",
                  "codigoTipoProgramaCredito",
                  "dataFormalizacaoOperacao",
                  "dataVencimentoOperacao",
                  "codigoTipoCronogramaAmortizacao",
                  "codigoTipoCondicaoEspecial",
                  "dataDespachoExternoOperacao",
                  "codigoTipoFormalizacao",
                  "valorSubsidioCredito",
                  "numeroCpfQualificadorOperacao"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "numeroReservaPreValidacao": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Retorna o número da reserva da pré-validação registrada no Fundo Garantidor.",
                      "examples": [
                        "123456789"
                      ]
                    },
                    "valorTotalFinanciado": {
                      "type": "number",
                      "format": "float",
                      "description": "Retorna o valor total já financiado/garantido/comprometido do mutuário com garantia do Fundo Garantidor, não computando a operação que está sendo pré-validada.",
                      "examples": [
                        "987451.75"
                      ]
                    },
                    "valorMargemDisponivelContratacao": {
                      "type": "number",
                      "format": "float",
                      "description": "Valor Margem Disponivel Contratacao",
                      "examples": [
                        "987451.75"
                      ]
                    }
                  },
                  "required": [
                    "valorTotalFinanciado"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Erro Negocial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          },
          "500": {
            "description": "Erro Sistema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          },
          {
            "OAuth2_desenvolvimento": [
              "fgo.requisicao"
            ]
          },
          {
            "mutualTLS": [
              "fgo.requisicao"
            ]
          },
          {
            "OAuth2_homologacao": [
              "fgo.requisicao"
            ]
          },
          {
            "OAuth2_producao": [
              "fgo.requisicao"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "erro": {
        "type": "object",
        "title": "Modelo Resposta",
        "properties": {
          "variaveisMonitoradas": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "additionalProp1": {
                  "type": "string"
                },
                "additionalProp2": {
                  "type": "string"
                },
                "additionalProp3": {
                  "type": "string"
                }
              }
            }
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "name": "gw-dev-app-key",
        "in": "query",
        "description": "Chave da aplicação. É a developer_application_key que pode ser encontrada acessando o item Credenciais dentro da sua aplicação no Portal Developers BB"
      },
      "mutualTLS": {
        "type": "mutualTLS",
        "description": "A utilização da certificação mútua de certificados (mTLS) garante mais segurança nas transações da API"
      },
      "OAuth2_homologacao": {
        "type": "oauth2",
        "name": "OAuth2 homologacao",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://oauth.hm.bb.com.br/oauth/token",
            "scopes": {
              "fgo.requisicao": "",
              "fgo-recad.requisicao": "",
              "fgo-recad.info": ""
            }
          }
        }
      },
      "OAuth2_producao": {
        "type": "oauth2",
        "name": "OAuth2 producao",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://oauth.bb.com.br/oauth/token",
            "scopes": {
              "fgo.requisicao": "",
              "fgo-recad.requisicao": "",
              "fgo-recad.info": ""
            }
          }
        }
      }
    }
  }
}